<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/includes/header}"></head>
<body>
<div class="container float-left">
    <div class="row h-100">
        <div class="col-lg-3 h-100 bg-light pt-4">
            <div class="container float-left">
                <ul  class="nav nav-pills flex-column">

                        <li th:if="${isAdmin}" class="nav-item">
                            <a class="nav-link" href="/admin">Admin</a>
                        </li>



                    <li class="nav-item">
                        <a class="nav-link active" href="/main">User info</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg pt-4">
            <h2>User page</h2>
            <table class="table table-info">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">name</th>
                    <th scope="col">email</th>
                    <th scope="col">password</th>
                    <th scope="col">is active?</th>
                    <th scope="col">Role</th>
                </tr>
                <tr>
                    <td th:text="${user.id}" class="align-middle">${user.id}</td>
                    <td th:text="${user.name}" class="align-middle">${user.name}</td>
                    <td th:text="${user.email}" class="align-middle">${user.email}</td>
                    <td th:text="${user.password}" class="align-middle">${user.password}</td>
                    <td th:text="${user.active}" class="align-middle">${user.active}</td>
                    <td th:text="${user.roles}" class="align-middle">${user.roles}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer th:insert="~{includes/footer.html}"></footer>
