<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/includes/header}"></head>
<div class="mx-auto mt-5" style="width: 250px;">
    <h2>Please Sign UP</h2>

        <div class="mx-auto" style="width:100px;color:red; font-weight: bold; margin: 30px 0px;"><p th:text="${message}"/><br></div>

    <form name='login' action="/registration" method='POST'>
        <div class="mt-0">
            <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
        </div>
        <button type="submit" class="w-100 btn btn-primary">Sign Up</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<footer th:insert="~{includes/footer.html}"></footer>